body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}

h1 {
  color: red;
}
nav a{
  padding-left:10px;
  padding-right: 10px;
  background-color: gray;
}
figcaption{
  font-size: 15px;
  text-align: center;
}
img{
  display: block;
  margin: auto;

}
p#featured-property
{ width: 800px;
  text-align: center;
  margin: auto;
}
